body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, #f3e6ff, #e6eaff);
}

.nav1{
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    font-family:sans-serif;

}
.nav1 > div{
    margin: 0 45px ;
}
.nav2{
    margin-right: 75px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-family: sans-serif;

}
#img{
    width: 85px;
    height: 85px;
    margin-right: 45px;
    border-radius: 50%;
}
.nav3{
    display: flex;
    flex-direction: row;
}
.content {
    flex: 1;
}

.bg-purple-transparent {
    background-color: rgba(230, 190, 255, 0.7);
}

footer {
    background-color: #414345;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size:medium;
    font-weight: bolder;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;

}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 0 0 10px;
}

footer a {
    margin-right: 5px;
}

a {
    padding: 5px 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
}

nav div .link {
    display: inline;
    padding: 0;
    background: none; 
    color: black; 
    background-clip: text; 
    -webkit-background-clip: text; 
}

nav div .link:hover {
    background: linear-gradient(to right, #f3e6ff, #e6eaff); 
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

